.root {
  display: flex;
  flex-direction: column;
}

.order-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  overflow: hidden;
}

.progress-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  padding: 0px;
  margin-top: -6px;
}
.steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  justify-items: center;
  overflow: hidden;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  height: 40px;
}
.steps-style {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding: 5px;
  font-weight: 500;
  font-style: normal;
  margin: 20px;
}
.step1 {
  color: #40b540;
}
.arrow {
  border: solid;
  border-width: 0 3px 3px 0;
  display: flex;
  color: gray;
  padding: 4px;
  margin: 20px;
}

.right {
  transform: rotate(-45deg);
}
.step2 {
}
.det-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  align-content: center;
  justify-content: center;
  height: 100%;
  justify-items: center;
  align-self: center;
  width: 100%;
}
.details-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-content: start;
  padding: 0px;
  margin-bottom: 50px;
  width: 900px;
  height: 500px;
  justify-content: start;
  background-color: #f3f3f3;
  box-shadow: 0 5px 10px -2px #6c6c6c;
  border-radius: 0px;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: start;
  width: 900px;
  height: 500px;
}
.titles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: space-around;
  width: 900px;
  padding: 5px;
}
.titles-style {
  padding: 5px;
  font-weight: 700;
}
.prmpt-in-box {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 175px;
  border-radius: 0px;
  background-color: white;
  border: 1px solid #f3f3f3;
  box-shadow: 0 5px 10px -5px #6c6c6c;
  font-family: Verdana, sans-serif;
}
.input-boxes-style {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-items: center;
  align-content: space-evenly;
  justify-content: space-around;
  width: 900px;
  height: 200px;
}
.sources-input-boxes {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 0px;
  height: 30px;
  margin-bottom: 5px;
  border: 1px solid #f3f3f3;
  border-radius: 0px;
  align-items: start;
  justify-items: start;
  align-content: space-evenly;
  justify-content: space-evenly;
  background-color: white;
  box-shadow: 0 5px 10px -5px #6c6c6c;
  font-family: Arial, sans-serif;
  text-align: start;
  font-style: italic;
}
.sources-container {
  width: 400px;
  height: 175px;
}
.prompt-container {
  width: 400px;
  height: 175px;
}
.page-input {
  display: flex;
  padding: 2px;
  margin: 10px;
  box-shadow: 0 5px 10px -5px #6c6c6c;
  border: 0px solid black;
  height: 23px;
  text-align: center;
  width: 115px;
  border-radius: 30px;
}
.essay-choice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  height: 40px;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  gap: 0px;
  width: 175px;
  padding: 10px;
}
.essay-choice {
  display: block;
  flex-direction: row;
  padding: 5px;
  margin: 0px;
  text-align: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid #40b540;
  background-color: #40b540;
  box-shadow: 0 5px 10px -5px #6c6c6c;
  color: white;
}
.dropbtn {
}
.next {
  padding: 10px;
  width: 100px;
  margin: 40px;
  color: white;
  border-radius: 30px;
}
.pages-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.drop-down {
  background-color: white;
  color: black;
}
